.captcha.row{'ng-show' => 'steps.captcha'}
  .hide-for-small-only.medium-2.large-2.columns &nbsp;
  .small-12.medium-8.large-8.columns
    = image_tag('form/captcha.png', alt: 'captcha')
    %form{'ng-submit' => 'goToThanks()'}
      .wrapper
        .hide-for-small-only.large-1.columns &nbsp;
        .small-12.large-10.columns
          .choice
            .slider
            .happy-areas
              .happy-1-area{'ng-click' => 'beHappy(1)'}
                .happy-1-icon
                .happy-1-text happy
              .happy-2-area{'ng-click' => 'beHappy(2)'}
                .happy-2-icon
                .happy-2-text very happy
              .happy-3-area{'ng-click' => 'beHappy(3)'}
                .happy-3-icon
                .happy-3-text extremely happy
            .happy-selection{'data-selected' => '{{deed.happiness}}'}
              .pointer
        .hide-for-small-only.large-1.columns &nbsp;
      .large-12.columns
        %input.share-happiness-button{:type => 'submit', :value => 'Share happiness'}
  .hide-for-small-only.medium-2.large-2.columns &nbsp;
