.counter.row
  .small-3.large-3.columns &nbsp;
  .small-6.large-6.columns
    %p.strip-wrapper
      %i.fa.strip-icon
    together, we've done
    = cell(:counter, @deeds_count).show
    good deeds already
  .small-3.large-3.columns &nbsp;
