.counter.row
  .small-1.medium-2.large-3.columns &nbsp;
  .small-10.medium-8.large-6.columns
    %p.strip-wrapper
      %i.fa.strip-icon
    together, we've done
    = cell(:counter, @deeds_count).show
    good deeds already
  .small-1.medium-2.large-3.columns &nbsp;
