.counter.row
  .small-1.medium-2.large-2.columns &nbsp;
  .small-10.medium-8.large-8.columns
    %p.strip-wrapper
      %i.fa.strip-icon
    %span.together
      together, we've done
      %span.digit{'ng-repeat' => 'digit in digits track by $index'} {{digit}}
      good deeds already
  .small-1.medium-2.large-2.columns &nbsp;
