.deeds.row
  .small-1.medium-2.large-3.columns &nbsp;
  .small-10.medium-8.large-6.columns
    %div{'ng-repeat' => 'combined in collection'}
      .strip-wrapper
        %i.fa.dark-strip-icon
      .day {{combined.timestamp | date:'d MMMM'}}
      .deed{'ng-repeat' => 'deed in combined.deeds'}
        .small-1.large-1.columns.icon
          %img{'ng-src' => '{{deed.happiness_icon_url}}'}
        .small-11.large-11.columns.info
          %h2 {{deed.person}}
          %h3 {{deed.timestamp | date:'h:mm a'}}
          %p {{deed.action}}
          %hr
          .actions
            .small-1.large-1.columns
              .like
              .likes-count {{deed.likes_count}}
            .small-10.large-10.columns &nbsp;
            .small-1.large-1.columns
              .report

  .small-1.medium-2.large-3.columns &nbsp;
