.deed{'ng-repeat' => 'deed in combined.deeds'}
  .small-2.large-1.columns.icon
    %img{'ng-src' => '{{deed.happiness_icon_url}}'}
  .small-10.large-11.columns.info
    %h2 {{deed.person}}
    %h3
      %span {{deed.timestamp | date:'h:mm a'}}
      %span {{deed.timestamp | date:'dd/MM/yyyy'}}
    %p {{deed.action}}
    %hr
    .like
      .small-3.large-3.columns &nbsp;
      .small-6.large-6.columns &nbsp;
      .small-3.large-3.columns
        = render partial: 'shared/like', locals: {expression: '{{deed.like_url}}'}
