.row
  .small-3.large-3.columns &nbsp;
  .small-6.large-6.columns
    - @deeds.each do |day, deeds|
      .day= cell(:day, day).show
      - deeds.each do |deed|
        .deed= cell(:deed, deed).show
        %hr
  .small-3.large-3.columns &nbsp;
