.deeds.row
  .small-1.medium-2.large-3.columns &nbsp;
  .small-10.medium-8.large-6.columns
    - @deeds.each do |day, deeds|
      = cell(:day, day).show
      - deeds.each do |deed|
        = cell(:deed, deed).show
  .small-1.medium-2.large-3.columns &nbsp;
