.deeds.row
  .small-1.medium-2.large-2.columns &nbsp;
  .small-10.medium-8.large-8.columns
    %div{'ng-repeat' => 'combined in collection'}
      .strip-wrapper
        %i.fa.dark-strip-icon
      .day
        {{combined.timestamp | date:'d'}}
        %sup {{combined.timestamp | date:'d' | ordinal}}
        {{combined.timestamp | date:'MMMM'}}
      = render 'deed'

  .small-1.medium-2.large-2.columns &nbsp;
