.deeds.row
  .small-3.large-3.columns &nbsp;
  .small-6.large-6.columns
    - @deeds.each do |day, deeds|
      = cell(:day, day).show
      - deeds.each do |deed|
        = cell(:deed, deed).show
  .small-3.large-3.columns &nbsp;
