.small-1.medium-2.large-2.columns &nbsp;
.small-10.medium-8.large-8.columns
  %pagination{'total-items' => 'totalItems', 'page' => 'page', 'max-size' => '5', 'items-per-page' => '25', 'previous-text' => '«', 'next-text' => '»', 'on-select-page' => 'setPage(page)'}
.small-1.medium-2.large-2.columns &nbsp;
