.pagination-wrapper.row
  %pagination{'total-items' => 'totalItems', 'page' => 'page', 'max-size' => '5', 'items-per-page' => '25', 'previous-text' => '«', 'next-text' => '»', 'on-select-page' => 'setPage(page)'}
