.thanks.row{'ng-show' => 'steps.thanks'}
  .small-1.medium-2.large-3.columns &nbsp;
  .small-10.medium-8.large-6.columns
    %h1
      thanks for spreading
      .emphasize good
      !
  .small-1.medium-2.large-3.columns &nbsp;
