.question.row{'ng-show' => 'steps.question'}
  .hide-for-small-only.medium-2.large-2.columns &nbsp;
  .small-12.medium-8.large-8.columns
    .hide-for-small-only= image_tag('form/question.png', alt: 'question')
    .show-for-small-only= render 'question/text'

    .hide-for-small-only.medium-1.large-1.columns &nbsp;
    .small-12.medium-10.large-10.columns
      %form{'ng-submit' => 'goToCaptcha()'}
        .large-12.columns
          %input{:type => 'text', :placeholder => 'I am...', 'ng-init' => "deed.person = '#{current_user_name}'", 'ng-model' => 'deed.person', :required => true}
        .large-12.columns
          %textarea{:placeholder => 'I did/I made/I helped...', 'ng-model' => 'deed.action', :required => true}
        .large-12.columns
          %input.add-a-good-deed-button{:type => 'submit', :value => 'Add a good deed'}
    .hide-for-small-only.medium-1.large-1.columns &nbsp;
  .hide-for-small-only.medium-2.large-2.columns &nbsp;
