%footer{'ng-controller' => 'RulesController'}
  %p made to share
  %p.heart= fa_icon 'heart-o 3x'
  %p.team
    by
    = mail_to 'we@dogood.to', 'mod team'
  %p.strip-wrapper
    %i.fa.strip-icon
  %p
    %a{'ng-click' => 'displayRules()'}
      check how to share good

  = render 'rules/main'
