%header
  .small-1.medium-2.large-2.columns &nbsp;
  .small-10.medium-8.large-8.columns
    %a.logo{href: root_path}
  .small-1.medium-2.large-2.columns
    - if current_user
      .logged
        = image_tag(current_user.avatar, alt: 'avatar', class: 'avatar')
        %span.username= current_user_name
        = link_to(logout_path, method: :delete) do
          = fa_icon 'power-off'
    - else
      %a.login{href: login_path}
    &nbsp;
