%header
  %a.logo{href: root_path}
  - if current_user
    .logged
      = image_tag(current_user.avatar, alt: 'avatar', class: 'avatar')
      %span.username= current_user_name
      = link_to(logout_path, method: :delete) do
        = fa_icon 'power-off'
  - else
    %a.login{href: login_path}
