%meta{property: 'og:title', content: 'Spread Good with DoGood!'}
%meta{property: 'og:description', content: 'DoGood is a global list of good deeds. Helps people to inspire themselves and spread good.'}
%meta{property: 'og:image', content: URI.join(root_url, image_path('fb.png'))}
