.rules.row{'ng-show' => 'showRules'}
  .small-1.medium-2.large-3.columns &nbsp;
  .small-10.medium-8.large-6.columns
    %a.rules-logo{href: root_path}

    = image_tag('rules.png', alt: 'rules')

    %p
      %strong 1.
      Everything, even the smallest, one good thing is worth mentioning.
    %p
      %strong 2.
      Be watchful; good things are easy to overlook.
    %p
      %strong 3.
      Don’t be shy; Share every good thing which you have done.
    %p
      %strong 4.
      Doing good can be a habit. Try doing one good thing per day!
    %p
      %strong 5.
      Do good things for everyone: family, friends, strangers...
    %p
      %strong 6.
      Good energy & positive things are going to come back to you.
    %p
      %strong 7.
      Everyone can be a hero; Just try!

    .close.close-rules{'ng-click' => 'hideRules()'}

  .small-1.medium-2.large-3.columns &nbsp;



