.rules.row{'ng-show' => 'showRules'}
  .small-1.large-3.columns &nbsp;
  .small-10.large-6.columns
    %h1
      golden rules of doing
      .emphasize good

    %p
      %strong 1.
      Every, even the smallest one good thing it’s worth mentioning.
    %p
      %strong 2.
      Be watchful, good things are easy to overlook.
    %p
      %strong 3.
      Don’t be shy & share every good thing which you made.
    %p
      %strong 4.
      Doing good can be a habit. Try with 1 good thing per day!
    %p
      %strong 5.
      Do good things to everyone: family, friends, strangers...
    %p
      %strong 6.
      Good energy & positive things are going back to you.
    %p
      %strong 7.
      Everyone can be a hero. Just try!

    %p= fa_icon 'times', class: 'close', 'ng-click' => 'hideRules()'

  .small-1.large-3.columns &nbsp;



