.captcha {
  .choice {
    width: 100%;
    max-width: 300px;
    height: 150px;
    position: relative;
    margin: 0 auto;

    .slider {
      width: 85%;
      height: 5px;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      z-index: 2;
    }

    .happy-1-area, .happy-2-area, .happy-3-area {
      width: 64px;
      height: 115px;
      border-radius: 32px;
      position: absolute;
      top: 15px;
      z-index: 3;
      cursor: pointer;
    }

    .happy-1-area {
      left: 0;
    }

    .happy-2-area {
      left: 39.5%;
    }

    .happy-3-area {
      left: 79%;
    }

    .dot {
      background: white;
      width: 10px;
      height: 10px;
      left: 50%;
      top: 71px;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      position: absolute;

      .point {
        position: absolute;
        background: #3b625e;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
      }
    }

    .happy-selection {
      background: url(selected.png);
      background-size: 64px 115px;
      background-repeat: no-repeat;
      width: 64px;
      height: 115px;
      position: absolute;
      top: 15px;
      z-index: 1;
      cursor: pointer;
      transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

      .pointer {
        background: url(pointer.png);
        background-size: 13px 16px;
        width: 13px;
        height: 16px;
        left: 50%;
        top: 64px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        position: absolute;
      }
    }

   .happy-selection[data-selected="1"] {
      left: 0;
    }

    .happy-selection[data-selected="2"] {
      left: 39.5%;
    }

    .happy-selection[data-selected="3"] {
      left: 79%;
    }

    .happy-1-icon {
      background: url(icons/happiness/1.png);
    }

    .happy-2-icon {
      background: url(icons/happiness/2.png);
    }

    .happy-3-icon {
      background: url(icons/happiness/3.png);
    }

    .happy-1-icon, .happy-2-icon, .happy-3-icon {
      width: 29px;
      height: 28px;
      background-size: 29px 28px;
      position: absolute;
      top: 18px;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      cursor: pointer;
    }

    .happy-1-text, .happy-2-text, .happy-3-text {
      font-family: 'Open Sans', sans-serif;
      color:  #375e5b;
      font-size: 9px;
      font-weight: 700;
      line-height: 9px;
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: 88px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      z-index: 2;
      cursor: pointer;
    }

    .happy-2-text {
      width: 40px;
    }

    .happy-3-text {
      width: 55px;
    }
  }
}
