@import "foundation/functions";

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

body {
  font-family: 'Open Sans', sans-serif;
}

.question, .captcha, .thanks, .rules {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    text-align: center;

    .emphasize {
      display: inline;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.question, .captcha, .rules {
  img {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

.thanks img.happiness {
  width: 41px;
  height: 39px;
  margin: 20px auto;
  display: block;
}

.rules p {
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

form {
  input[type=text], input[type=submit], textarea {
    border-radius: 5px;
    border: none;
  }

  input[type=submit] {
    display: block;
    margin: 0 auto;
    background: #3b625e;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    padding: 14px 33px;
    cursor: pointer;
    &:hover {
      background: #3e715e;
    }

    &.share-good-button {
      width: 175px;
      height: 41px;
    }

    &.share-happiness-button {
      width: 221px;
      height: 41px;
    }
  }

  input[type=text], textarea {
    background: #d0e8ba;
    color: #335958;
    font-size: rem-calc(14);
    font-weight: 600;

    &:focus {
      background: #c1dcae;
    }
  }

  input[type=text] {
    height: 40px;
  }

  textarea {
    height: 70px;
    resize: vertical;
  }

  input[type=range] {
    width: 100%;
  }

  @include placeholder {
    color: #3b625e;
  }

  .scale .columns {
    text-align: center;
  }
}

$text-size: rem-calc(10);

.day {
  clear: both;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: rem-calc(20);
  text-transform: uppercase;
  margin-bottom: rem-calc(60);
  letter-spacing: 3.5px;
  color: #335958;

  sup {
    position: relative;
    left: -6px;
    font-size: 2 * $text-size/1.75;
  }
}

hr {
  border-color: #bfded8;
  margin: 5px auto;
}

.deed {
  clear: both;

  .info {
    margin-bottom: 20px;
  }

  h2 {
    font-size: rem-calc(12);
    line-height: rem-calc(12);
    font-weight: bold;
    color: #728981;
    margin: 0;
  }

  h3 {
    font-size: rem-calc(11);
    line-height: rem-calc(11);
    margin-top: 0;
    color: #335958;

    span:first-child {
      font-weight: 600;
    }

    span:last-child {
      font-weight: 700;
    }
  }

  p {
    font-size: rem-calc(14);
    margin-bottom: 0;
    color: #669392;
  }

  h2, h3 {
    text-transform: uppercase;
  }

  .icon {
    padding: 0;
    text-align: right;

    img {
      width: 29px;
      height: 28px;
    }
  }

  .actions {
    & > div {
      padding: 0;
    }

    iframe {
      float: right;
      width: 77px;
    }

    .like {
      background: url(icons/hearts.png) no-repeat;
      float: left;
    }

    .report {
      background: url(icons/reports.png) no-repeat;
      float: right;
    }

    .like, .report {
      background-position: 0 0;
      background-size: 32px 15px;
      width: 16px;
      height: 15px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }

    .liked {
      .like {
        background-position: -16px 0;

        &:hover {
          transform: scale(0.9);
        }
      }
      .likes-count {
        color: #e69768;
      }
    }

    .reported {
      .report {
        cursor: default;
        background-position: -16px 0;
      }
    }


    .likes-count {
      float: left;
      color: #9bc1c0;
      font-size: 13px;
      font-weight: 700;
      line-height: 17px;
      width: 15px;
      height: 10px;
      position: relative;
      left: 4px;
    }

  }

}

.logo {
  display: block;
  width: 95px;
  height: 63px;
  background: url(logo.png);
  background-size: 95px 63px;
  background-repeat: no-repeat;
  margin: 20px auto 40px auto;
}

header {
  float: left;
  width: 100%;
  padding: 20px;

  .logged {
    float: right;

    img.avatar {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      margin-right: 10px;
      border: 1px solid rgba(231, 249, 220, 0.8);
    }

    span.username {
      font-family: 'Open Sans', sans-serif;
      font-size: 0.75rem;
      text-align: center;
      color: rgba(231, 249, 220, 0.8);
      text-transform: uppercase;
      letter-spacing: 3.5px;
      font-weight: 700;
      margin-right: 10px;
    }

    .fa-power-off {
      position: relative;
      top: 2px;
      color: rgba(231, 249, 220, 0.5);
      font-size: 1.25rem;

      &:hover {
        color: rgba(231, 249, 220, 0.8);
      }
    }
  }
}

@media (max-width: 799px) {
  span.username {
    display: none;
  }
}

@media (max-width: 640px) {
  .login {
    float: right;
    display: block;
    width: 36px;
    height: 36px;
    background: url(mobile/login.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    opacity: 0.33;

    &:hover {
      opacity: 0.66;
    }
  }
}

@media (min-width: 641px) {
  .login {
    float: right;
    display: block;
    width: 124px;
    height: 36px;
    background: url(login.png);
    background-size: 248px 36px;
    background-repeat: no-repeat;
    &:hover {
      background-position: -124px 0;
    }
  }
}

footer {
  clear: both;
  float: left;
  width: 100%;
  padding: 60px;
  background: #335958;

  p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: $text-size;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 0 auto;

    &.heart {
      margin: 10px auto;
    }

    &.team {
      font-weight: 900;

      a {
        border-bottom: none;
      }
    }

    &.strip {
      margin: 30px auto 10px auto;
    }

    a {
      color: white;
      border-bottom: 1px solid white;

      &:hover {
        color: darken(white, 20%);
        border-bottom: 1px solid darken(white, 20%);
      }
    }
  }

  .strip-wrapper {
    padding: 0;
    margin: 20px auto;
  }
}

.strip-wrapper {
  text-align: center;
  clear: both;
  font-size: $text-size;
  padding: 30px 0;
}

.strip-icon:before {
  position: relative;
  left: -2.5px;
  font-size: 3em;
  content: "\f106\f106";
  letter-spacing: -5px;
  color: #72a09f;
}

.dark-strip-icon:before {
  @extend .strip-icon;
  color: #335958;
}

.counter {
  font-family: 'Open Sans', sans-serif;
  font-size: rem-calc(13);
  text-align: center;
  color: #3b625e;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 500;

  span.together {
    font-weight: 700;
  }

  .digits {
    display: inline-block;

    span.digit {
      padding: 1px 4px;
      margin: 0 3px;
      background: #e8f7d5;
      color: #3b625e;
      font-weight: bolder;
      border-radius: 2px;
      letter-spacing: 0;
      display: inline-block;
    }
  }
}

.rules {
  overflow: scroll;
  background: white;
  opacity: 0.95;
  max-width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  h1 {
    line-height: 50px;
    margin: 50px auto;
  }

  p {
    color: #345A58;
    font-size: 1.2 * $text-size;
    margin-bottom: 1.2 * $text-size;
  }
}

p {
  .close {
    color: #345A58;
    margin-top: 25px;
    border-radius: 30px;
    border: 1px solid #345A58;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0;
    cursor: pointer;

    &.close-reveal-modal {
      position: static;
      font-size: 14px;
      line-height: 28px;
      color: #345A58;
    }
  }
}

.close {
  width: 41px;
  height: 39px;
  background: url(icons/close.png) no-repeat;
  background-position: 0 0;
  background-size: 123px 39px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 auto;

  &:hover {
    background-position: -41px 0;
  }

  &.close-reveal-modal {
    background-position: -82px 0;
    position: static;
    margin-top: 20px;
  }

  &.close-rules, &.close-rules:hover {
    background-position: -82px 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .social-buttons {
    display: none;
  }
}

@media (min-width: 641px) {
  .social-buttons {
    position: fixed;
    top: 50%;
    left: 5px;
    text-align: center;
    transform: translateY(-50%);

    .twitter-share {
      margin-top: 5px;
    }
  }
}

#report-modal {
  img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:  #335958;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-bottom: 0;

    &.lighter {
      font-weight: 600;
    }
  }
}
