@import "foundation/functions";

.question {
  font-family: 'Amatic SC', cursive;

  .emphasize {
    display: inline;
    font-weight: bold;
    text-decoration: underline;
  }
}

form {
  input[type=submit] {
    display: block;
    margin: 0 auto;
  }

  input[type=text], input[type=submit] {
    border-radius: 5px;
  }

  input[type=submit] {
    height: 35px;
  }
}

.day {
  $size: rem-calc(30);

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: $size;
  text-transform: uppercase;

  sup {
    font-size: $size/1.75;
  }
}
