ul.pagination li.unavailable a, ul.pagination li.unavailable button {
  visibility: hidden;
}

ul.pagination li.current a, ul.pagination li.current button {
  background: #335958;
}

.pagination-wrapper {
  position: relative;
  min-height: 1.5rem;
  margin-bottom: 2rem;
}

ul.pagination {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
