.thanks.row{'ng-show' => 'steps.thanks'}
  .small-1.medium-2.large-3.columns &nbsp;
  .small-10.medium-8.large-6.columns
    .hide-for-small-only= image_tag('form/thanks.png', alt: 'thanks')
    .show-for-small-only= render 'thanks/text'

    %img.happiness{'ng-src' => '/assets/icons/happiness/{{deed.happiness}}.png'}
    .back{'ng-click' => 'goToQuestion()'}= fa_icon 'undo'
  .small-1.medium-2.large-3.columns &nbsp;
